.table {
  width: 100%;
  padding: 0px 20px;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.table td {
  font-weight: 500;
}
.table th {
  background-color: #000;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #d0d5d973;
  cursor: pointer;
}
.table tbody tr:nth-child(even):hover {
  background-color: #d0d5d9ce;
}
tr {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}
tr > td:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* background-color: red; */
}
tr > td:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background-color: yellow; */
}

table select {
  background-color: transparent;
  outline: none;
}
.orderProcessing,
.red {
  color: red;
}
.orderDelivered,
.green {
  color: green;
}

@media (max-width: 1350px) {
  .products-table thead {
    display: none;
  }
  .products-table,
  .products-table tbody,
  .products-table tr,
  .products-table td {
    display: block;
    width: 100%;
  }
  .products-table tr {
    margin-bottom: 25px;
  }
  .products-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .products-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 25px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
